@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header{

    height: 46px;
    width: 100%;
    background-color: #f0f0f0;
    /* this make the header fixed at the top of the page */
    position: fixed;
    /* this make no elemnt cover your header it still the top and display */
    z-index: 999;
    justify-content: space-between;
    display: flex;
    padding: 10px 200px;
    align-items: center;
}

.loge{
    text-decoration: none;
    /* rem make the font relative to body font
    which mean if you changed the body font it 
    will change 
    and 1 rem = 16px */
    font-size: 1.8rem;
    font-weight: 700;
    /* this make all chars upperLeter */
    text-transform: uppercase;
    color: black;

}



.header-nav a{
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    font-size: 1.1rem;
    color: rgb(66, 66, 66);
}


.header-nav a:hover{
    color: black;

}
section {
    padding: 100px 200px;

}
.main{
    display: flex;
    /*  min-height :means that take this as the minimum
    value and your height should not reduce from this 
    but possible to increase
    
    -vh :mean view port height which mean the view that we see
    */
    min-height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url("im/hack6.jpg");
    background-size:cover;
    background-position: center;
    /* it gives you the effect of transiting 
    the main cover photo when you scroll down */
    background-attachment: fixed;


}

.main h3{

    color: white;
    font-size: 1.4em;
    font-weight: 500;


}

.main h3 span{
    /*  if we have inline element and we want
    give him margin or padding we give this display*/
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;
    color: #3b79ec;

}
.main h2{
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 700;
}
.main-btn{
    border-radius: 15px;
    background-color: #3b79ec;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    /* because anchor tag is inline style */
    display: inline-block;
    padding:0.9375em 2.1875em ;
    margin-bottom: 40px;
    font-size: 1.1em;
    font-weight: 600;
    /* we till him make transition slower and smooth */
    transition: 0.7s ease;

}

.main-btn:hover{

    background-color: #256bee;
    /* this mean the button will be biger
    0.1 on what it was 

    and it took two params but if you 
    put in 1 it will applay on 2
    */
    transform: scale(1.1);
}

.special-icons a{

    color: white;
   padding-right: 30px;
    font-size: 1.7em;
    

}

.services-title{
    display: flex;
    font-size: 2.2em;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #256bee;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 960px; */
}

.card{
    width: 16.5em;
    background-color: white;
    /* 
    box-shadow take alot of values let's break it down
    1-thrown shadow up and down
    2-thrown shadow right and left
        if -5 it throw it left 
        if  5 it thhow it right
    
    3-blur :this thing like spread if you gave it
    big value will fill around itself
    
    */

    box-shadow: 0 5px 25px 
    rgba(1, 1, 1, 20%);
    padding: 20px;
    margin: 15px;
    /* height: 26em; */
    margin-top: 3px;
    transition: 0.7s ease;
    border-radius: 10px;
   

}
.card:hover{
    transform: scale(1.1);
}
.icon{

    color: #256bee;
   font-size: 7em;
    text-align: center;
    
   
}

 .info{
    text-align: center;
 }
.info h3{
    color: #256bee;
    font-weight: 700;
    margin: 10px;
    font-size: 1.2em;
}


.projects-section{
    background-color: black;
}

.projects-section .content{
    margin-top: 30px;
}

   
.project-card{
    width: 16em;  
    background-color: white;
   border: 2px solid white;
    margin: 20px;
    transition: 0.7s ease;
    border-radius: 10px;
    overflow: hidden;
   /* min-height: 14em; */
   

}
.project-card:hover{
    transform: scale(1.1);
}

.project-image{
    width: 100%;
    
}


.project-card .project-image:hover{
   opacity: 0.9;

}
.info{
    padding: 1em;
}
.proj-p{
   padding: 0.8em;
   color: black;
}
.info strong{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.proj-span{
    text-align: left;
    margin-right: 120px;

}
.proj-link{
    text-decoration: none;
}
.proj-link:hover{
    color: #256bee;
}